include DEVIATIONS.md
include THIRD_PARTY_NOTICES.md
recursive-include licenses *.txt
recursive-include configs *.yaml
recursive-include examples *.py
recursive-include experiments *.yaml
recursive-include scripts *.sh
recursive-include tests *.py
include rigfl/data/README.md
include rigfl/models/README.md
